@model CategoryProductsViewModel
@{ 
    int min = (int)Model.Filter.StartPrice;
    int max = (int)Model.Filter.EndPrice;
}


<div>
    @*<form>*@

        
   @* </form>*@
    <div class="filter-price">
        @if (Model.Filter.StartPrice != 0 && Model.Filter.EndPrice != 0)
        {
            <p>Цена</p>
            <form asp-controller="Categories" asp-action="GetProductsWithCategory" method="get">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:flex">
                    <input type="number" name="startPrice" min="@min" max="@max" id="minPriceText" style="width:100px" />
                    -
                    <input type="number" name="endPrice" min="@min" max="@max" id="maxPriceText" style="width:100px" />
                    <input type="hidden" asp-for="CurrentCategory" />
                </div>
                <div id="slider" min="@min" max="@max">
                </div>
                <div id="slider-fit"></div>
                <div class="slider-styled" id="slider-round"></div>
                <div class="slider-styled" id="slider-square"></div>
                <div class="filter-manufacturer">
                    @if (Model.Filter.Manufacturers.Count() != 0)
                    {
                        @foreach (Manufacturer manufacturer in Model.Filter.Manufacturers)
                        {
                            if (manufacturer != null)
                            {
                                <input type="checkbox" value="@manufacturer.Id" name="SelectedManufacturers"
                                       @(Model.SelectedManufacturers.Contains(manufacturer.Id) ? "checked" : "") />@manufacturer.Title<br>
                            }

                        }
                    }
                </div>
                <input type="submit" value="Ok" id="filterPriceSubmit" />
            </form>

            
        }
    </div>
</div>
@section Scripts{ 
@*<script>
    var marginMin = document.getElementById('minPriceText'),
        marginMax = document.getElementById('maxPriceText');

    marginSlider.noUiSlider.on('update', function (values, handle) {
        if (handle) {
            marginMax.value = values[handle];
        }
        else {
            marginMin.value = values[handle];
        }
        console.log(values[handle]);
    });
</script>*@
}
